<mat-tab-group (selectedTabChange)="yourFn($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      Receive (<span style="color: green">5-</span> <span style="color: red">3</span>)
    </ng-template>
    <div class="
  list-type4 card PanelShadow" style="overflow: hidden;margin-bottom: 0px">
      <ol style="overflow: hidden;margin-bottom: 0px">
        <li class="first"><a href="#">
            <div class="col-lg-12" style="display: block">
              <div class="col-lg-10" style="display: block"><strong>From - Nikhil Gupta </strong>
                <p class="pull-right"> Date Time - 12/11/2018 11:30:34</p>
              </div>

              <div class="col-lg-12">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem
                Ipsum
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem </div>
            </div>
          </a></li>
        <li class="second"><a href="#">
            <div class="col-lg-12" style="display: block">
              <div class="col-lg-10" style="display: block"><strong>From - Nikhil Gupta </strong>
                <p class="pull-right"> Date Time - 12/11/2018 11:30:34</p>
              </div>

              <div class="col-lg-12">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem
                Ipsum
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem </div>
            </div>
          </a></li>

      </ol>
    </div>
  </mat-tab>