.vertical-text {
    word-wrap: break-word !important;
    width: 10px !important;
    float: left;
    /* padding: 0 !important; */
    font-variant-caps: all-petite-caps;
    text-align: center !important;
    font-weight: bold;
    font-size: 120%;
}