<div class="app-body">
  <main class="d-flex  col-md-12" style="margin-left: -9vw;width: 100vw;">
    <div class="container">
      <div class="row">
        <div class="card col-md-12">
          <div class="card-body col-md-12">
            <form>
              <h1>Employee</h1>
              <p class="text-muted">Create New Employee</p>
              <div class="input-group col-md-12">
                <div class="input-group col-md-6">

                  <input type="text" class="form-control" placeholder="First Name" autocomplete="username" required>
                </div>
                <div class="input-group col-md-6">

                  <input type="text" class="form-control" placeholder="Middle Name" autocomplete="username" required>
                </div>
              </div>
              <br>
              <div class="input-group col-md-12">
                <div class=" input-group col-md-6">

                  <input type="text" class="form-control" placeholder="Last Name" autocomplete="username" required>
                </div>
                <div class="input-group col-md-6">

                  <input type="text" class="form-control" placeholder="Email" autocomplete="email" required>
                </div>
              </div>
              <br>
              <div class="input-group col-md-12">
                <div class=" input-group col-md-6">

                  <input type="number" class="form-control" placeholder="Mobile Number" autocomplete="new-password"
                    required>




                </div>


                <div class="input-group col-md-6">
                  <input type="number" class="form-control" placeholder="Phone Number" autocomplete="new-password"
                    required>

                </div>
              </div>
              <br>
              <div class="input-group col-md-12">
                <div class="input-group col-md-6">

                  <input type="text" class="form-control" placeholder="Address Line1" autocomplete="new-password"
                    required>
                </div>
                <div class="input-group col-md-6">

                  <input type="text" class="form-control" placeholder="Address Line2" autocomplete="new-password"
                    required>

                </div>
              </div>
              <br>
              <div class="input-group col-md-12">
                <div class="input-group col-md-6">

                  <input type="text" class="form-control" placeholder="City" autocomplete="new-password" required>
                </div>
                <div class="input-group col-md-6">

                  <select id="select3" name="select3" class="form-control">
                    <option value="0">Please select State</option>
                    <option value="1">Maharastra</option>
                    <option value="2">Karnataka</option>
                    <option value="3">Kerala</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="input-group col-md-12">
                <div class="input-group col-md-6">

                  <select id="select3" name="select3" class="form-control">
                    <option value="0">Please select Country</option>
                    <option value="1">India</option>
                    <option value="2">UK</option>
                    <option value="3">USA</option>
                  </select>
                </div>
                <div class="input-group col-md-6">

                  <input type="number" class="form-control" placeholder="Emergency Contact Number" autocomplete="new-password"
                    required>
                </div>
              </div>
              <br>

              <div class="input-group col-md-12">
                <div class="input-group col-md-6">
                  <input type="text" class="form-control" placeholder="Department" autocomplete="new-password" required>
                </div>

                <div class="input-group col-md-6">


                </div>
              </div>
              <br>
              <div class="input-group col-md-12">
                <div class="input-group col-md-6">

                  <select id="select3" name="select3" class="form-control">
                    <option value="0">Please select Role</option>
                    <option value="1">Role-1</option>
                    <option value="2">Role-2</option>
                    <option value="3">Role-3</option>
                  </select>
                </div>
                <div class="input-group col-md-6">

                  <select id="select3" name="select3" class="form-control">
                    <option value="0">Please select Reporting To</option>
                    <option value="1">Mr.A</option>
                    <option value="2">Mr.B</option>
                    <option value="3">Mr.C</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="input-group col-md-12">
                <div class="input-group col-md-6">
                  <span class="help-block" style="width: 100%;">Date of joining &nbsp;&nbsp; </span>

                  <input class="form-control" id="date-input" name="date-input" placeholder="date of joining" type="date">

                </div>
                <div class="input-group col-md-6">
                  <span class="help-block" style="width: 100%;">Date of Resign &nbsp;&nbsp; </span>

                  <input class="form-control" id="date-input" name="date-input" placeholder="date of Resign" type="date">

                </div>
              </div>
              <br>
              <button type="button" class="btn btn-block btn-success" (click)="save()">Create Account</button>
            </form>
          </div>

        </div>
        <div class="col-md-12 mx-auto">

        </div>
      </div>
    </div>
  </main>
</div>
