<!-- PEP - Nikhil Gupta -->
<div class="row card card-accent-primary PanelShadow" style="margin-top:25px;margin-right: -40px" *ngIf="showPlanResultsPanel">
  <div class="card-header">
    <!-- <div flex="100" layout="column"> -->
    <!-- <div style="font-size: 10px; color: blue;" label ng-bind="::dateFields[2].label"></div> -->
    <input matInput [matDatepicker]="i" placeholder="Choose From Date" [attr.id]="dtPicker + i" style="width:70px;"
      (dateInput)="ScheduleFromToDate($event)" [value]='Jan-2019'>
    <mat-datepicker-toggle [for]="i" md-mode="month"></mat-datepicker-toggle>
    <mat-datepicker #i startView="year"></mat-datepicker>
    <!-- <input matInput [min]="row.startDatess" [max]="endDate" [matDatepicker]="i" placeholder="Choose To Date"
        [attr.id]="dtPicker + i" style="width:70px;" [value]="row.endDatess" id="txtSchTo_{{j}}" (dateInput)="ScheduleFromToDate($event)">
      <mat-datepicker ng-model="dateFields.selectedDate" md-date-locale="dateFields.locale" md-mode="month"
        md-open-on-focus="true">
      </mat-datepicker> -->
    <!-- </div>  -->
    <button (click)="createPlan()" mat-raised-button color="primary" class="pull-right">Create
      PEP</button>
  </div>

  <!-- <mat-form-field style="width: 94%;margin-top: 10px;margin-left: 25px;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field> -->
  <!-- Angular material data table starts here -->
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="#">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;font-size: 15px;"> #
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="PEPArea">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;font-size: 15px;"> PEP Area
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.PEPArea }}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="EmployeeComments">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;font-size: 15px;"> Employee
          Comments
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.EmployeeComments}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ManagerComments">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;font-size: 15px;"> Manager Comments
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.ManagerComments}} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
</div>