
.mat-table {
    display: table;
    width: 100%;

    > .mat-header-row, > .mat-row {
        display: table-row;
        padding: 0;
        border: none;
        text-align: left;
         
        > .mat-header-cell, > .mat-cell {
            // display: -ms-flexbox;
            //  display: -webkit-flex;
            min-height: 5px;
            vertical-align: middle;
            padding: 5px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
             display: table-cell;
             border-right: 1px solid rgba(0, 0, 0, 0.12);
    // -webkit-align-self: stretch;
    // -ms-flex-item-align: stretch;
    // align-self: stretch;
    /* align-items center so that cell content is vertically centered */
    // -webkit-align-items: center;
    // -ms-flex-align: center;
    // align-items: center;
        }
        

    
    }
}
.mat-row.hovered {
  background: gray}
.mat-cell.hoverd{
    background:  gray;
}
// .mat-cell .flex-stretch {
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     -webkit-align-self: stretch;
//     -ms-flex-item-align: stretch;
//     align-self: stretch;
//     /* align-items center so that cell content is vertically centered */
//     -webkit-align-items: center;
//     -ms-flex-align: center;
//     align-items: center;
// }
.mat-row {
        min-height: 60px
    }
.mat-header-row{
 font-family:'Brandon Grotesque Black';
    font-size: 13px;
}

// .mat-list-item.mat-list-item-word-wrap {
//       height: initial !important;
//     }
//     .mat-list-item-word-wrap .mat-line {
//       word-wrap: break-word !important; 
//       white-space: pre-wrap !important;
//     }

//  .mat-header-row{ min-height: 2px; }
// ::ng-deep .mat-sort-header-container {
//     display:flex;
//     justify-content:center;
    
//   }
.tooltipss {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltipss .tooltiptextss {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.toolbar-dialog .mat-dialog-container {
    padding: 0 !important;
    z-index: 3000 !important;
  }

  /deep/ .cdk-overlay-container {
    z-index: 1200 !important;
  }
 //bs-datepicker-container { z-index: 3000; }
 //.mat-calendar{z-index: 3000;}
.tooltipss:hover .tooltiptext {
    visibility: visible;
}
.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
  }
#outer
{
    width:100%;
    // text-align: center;
}
.inner
{
    display: inline-block;
}
::placeholder {
  color: black;
  font-size: 1.5em;
}