<div class="col-lg-12" style="text-align: center">
  <h4 style="color:#d42e12; font-family:'Brandon Grotesque Black';margin-top: 1vh;">My PEP</h4>


</div>
<hr style="background-color: #bbb;height: 1px;width: 100%;margin-top: 1vh;margin-bottom: 1vh;">
<div class="row card card-accent-primary PanelShadow" style="margin-top: 2vh;margin-right: -40px;">
  <div class="card-header" style="max-height: 6vh;min-height: 6vh">
    <h5 *ngIf="showEntryPane" style="font-family:'Brandon Grotesque Black';">Create New PEP</h5>
    <button (click)="back()" mat-raised-button color="warn" *ngIf="!showEntryPane"
      style="font-family:'Brandon Grotesque Black';margin-top: -1vh" class="pull-right">Create New
      PEP</button>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="text-center col-md-12">
        <form [formGroup]="PlanFormGroup">
          <mat-card>
            <mat-form-field>
              <input matInput placeholder="Year Month:" formControlName="market" [owlDateTimeTrigger]="dt1" [min]="min"
                [max]="max" [owlDateTime]="dt1" [formControl]="dateTime"
                style="width: 100%;font-family:'Brandon Grotesque light';">
              <owl-date-time [pickerType]="'calendar'" [startView]="'year'" (yearSelected)="chosenYearHandler($event)"
                (monthSelected)="chosenMonthHandler($event, dt1)" #dt1="owlDateTime"></owl-date-time>
            </mat-form-field>

            <mat-form-field>
              <textarea matInput placeholder="KPO Achivments"
                style="font-family:'Brandon Grotesque light';height: 130px;color: black"
                value="Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum (11/02/2018 10:10:10) " id="A"
                [disabled]="!ABC"></textarea>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Behaviours"
                style="font-family:'Brandon Grotesque light';height: 130px;color: black"
                value="Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum (11/02/2018 10:10:10) " id="b"
                [disabled]="!ABC"></textarea>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Other Achivments and Comments"
                style="font-family:'Brandon Grotesque light';height: 130px;color: black"
                value="Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum (11/02/2018 10:10:10) " id="c"
                [disabled]="!ABC"></textarea>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Next Month Priorities"
                style="font-family:'Brandon Grotesque light';height: 130px;color: black"
                value="Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum (11/02/2018 10:10:10) " id="d"
                [disabled]="!ABC"></textarea>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Managers Comments" disabled
                style="font-family:'Brandon Grotesque light';height: 130px;color: black"></textarea>

              <!-- <textarea matInput disabled [(ngModel)]="ManagersComments" #message maxlength="256"
                placeholder="Managers Comments"></textarea>
              -->
              <!-- <mat-hint align="end">{{message.value.length}} / 256</mat-hint> -->
            </mat-form-field>

          </mat-card>
        </form>
      </div>

    </div>
    <div id="outer">
      <div class="inner"><button *ngIf="showEntryPane" style="float: left;" color="warn" mat-raised-button type="submit"
          onClick="return false;">Save</button></div>
      <!-- <div class="inner"><button type="submit" class="msgBtn2" onClick="return false;">Publish</button></div> -->
      <div class="inner"><button *ngIf="showEntryPane" style="float: right;right: 0;left:63vw" class="pull-right"
          color="warn" mat-raised-button type="submit">Submit</button>
      </div>
    </div>
    <!-- <div class="row" style="margin-bottom:15px;text-align: right">
      <div class="col-lg-2 " style="text-align: right;right: 0;">
        <button *ngIf="showEntryPane" style="float: left;margin-left: 5px;margin-top: 3px" mat-raised-button
          color="warn" mat-raised-button (click)="save()">Submit</button>
      </div>
      <div class="col-lg-6 col-lg-offset-6" style="min-width: 100%">&nbsp;&nbsp;</div>

      <div class="col-lg-2 pull-right" style="text-align: right;right: 0;">

        <button *ngIf="showEntryPane" style="    margin-right: -68vw;margin-top: -8vh;" mat-raised-button color="warn"
          class="pull-right" mat-raised-button (click)="save()">Save</button>
      </div> -->
  </div>
</div>
