<div class="row card card-accent-primary PanelShadow" style="margin-top:25px;margin-right: -40px;border-top-color:gray">
  <div class="card-header">
    Create New PEP<button (click)="back()" mat-raised-button color="warn" class="pull-right">Create New</button>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="text-center col-md-12">
        <form [formGroup]="PlanFormGroup">
          <mat-card>
            <mat-form-field>
              <input matInput placeholder="Year Month:" formControlName="market" [owlDateTimeTrigger]="dt1" [min]="min"
                [max]="max" [owlDateTime]="dt1" [formControl]="dateTime" style="width: 100%">
              <owl-date-time [pickerType]="'calendar'" [startView]="'year'" (yearSelected)="chosenYearHandler($event)"
                (monthSelected)="chosenMonthHandler($event, dt1)" #dt1="owlDateTime"></owl-date-time>
            </mat-form-field>

            <span>KPO Achivments</span>
            <hr>
            <mat-form-field>
              <input matInput placeholder="Employee Comments" value="Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum (11/02/2018 10:10:10) "
                [disabled]="!ABC">
            </mat-form-field>

            <span>Behaviours</span>
            <hr>
            <mat-form-field>
              <input matInput placeholder="Employee Comments" value="Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum (11/02/2018 10:10:10) "
                [disabled]="!ABC">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Managers Comments" disabled>
              <!-- <textarea matInput disabled [(ngModel)]="ManagersComments" #message maxlength="256" placeholder="Managers Comments"></textarea> -->
              <!-- <mat-hint align="end">{{message.value.length}} / 256</mat-hint> -->
            </mat-form-field>

          </mat-card>
        </form>
      </div>

    </div>
    <div class="row pull-right" style="margin-bottom:15px;text-align: right">
      <div class="col-lg-8 col-lg-offset-10" style="min-width: 100%">&nbsp;&nbsp;</div>
      <div class="col-lg-2 pull-right" style="text-align: right;right: 0;">

        <button *ngIf="showEntryPane" style="margin-right: -50px;" mat-raised-button color="warn" class="pull-right"
          mat-raised-button (click)="save()">Save</button>
      </div>
    </div>
  </div>