// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";


@import "~ng-pick-datetime/assets/style/picker.min.css";


@font-face {
font-family: 'Brandon Grotesque Regular Italic';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Regular Italic'), url('assets/font/brandon-grotesque-regular-italic-58a8a456c4724.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Thin Italic';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Thin Italic'), url('assets/font/brandon-grotesque-thin-italic-58a8a3a8861fe.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Light';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Light'), url('assets/font/brandon-grotesque-light-58a8a4b38001d.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Light Italic';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Light Italic'), url('assets/font/brandon-grotesque-light-italic-58a8a4ccb88be.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Medium Italic';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Medium Italic'), url('assets/font/brandon-grotesque-medium-italic-58a8a3c40866a.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Bold Italic'), url('assets/font/brandon-grotesque-bold-italic-58a8a48221563.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Black';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Black'), url('assets/font/brandon-grotesque-black-58a8a3e824392.woff') format('woff');
}