<div style="margin-right: -20px">

  <div class="col-lg-12" style="text-align: center">
    <h4 style="color:#d42e12">My Dashboard</h4>


  </div>
  <hr style="background-color: #bbb;height: 1px;width: 100%;margin-top: -5px;margin-bottom: 4px;">
  <table style="width: 100%;">
    <tbody>
      <tr style="width: 100%">

        <!-- <div class="row"> -->
        <td style="width: 25%;min-width: 200px;">
          <div class="card" style="box-shadow: 5px 5px 7px rgba(33,33,33,.7);max-height: 463px;margin-top: 3px">
            <div _ngcontent-c4="" class="card-header" style="font-weight: 600;font-size: 17px;"> My PEP </div>
            <div class="card-body">




              <div>

                <ul style="list-style-type: none;margin-left: -30px;margin-right: 10px;margin-top: -11px">
                  <li class="lilist"><a href="#" class="aclass" style="text-align: left">Jan 2019 </a><i class="fa fa-check-circle pull-right"
                      style="font-size:20px;color:green;padding-right: 3px;cursor: none"></i></li>
                  <li class="lilist"><a href="#" class="aclassRed">Dec 2018</a> <i class="fa fa-times-circle pull-right"
                      style="font-size:20px;color:red;padding-right: 3px;cursor: none"></i></li>
                  <li class="lilist"><a class="aclassDis">Nov 2018 </a></li>
                  <li class="lilist"><a href="#" class="aclass">Oct 2018</a> <i class="fa fa-check-circle pull-right"
                      style="font-size:20px;color:green;padding-right: 3px;cursor: none"></i></li>
                  <li class="lilist"><a href="#" class="aclassRed">Sep 2018</a><i class="fa fa-times-circle pull-right"
                      style="font-size:20px;color:red;padding-right: 3px;cursor: none"></i></li>
                  <li class="lilist"><a class="aclassDis">Aug 2018 </a></li>
                  <li class="lilist"><a href="#" class="aclass">Jul 2018</a> <i class="fa fa-check-circle pull-right"
                      style="font-size:20px;color:green;padding-right: 3px;cursor: none"></i></li>
                  <li class="lilist"><a href="#" class="aclassRed">Jun 2018</a> <i class="fa fa-times-circle pull-right"
                      style="font-size:20px;color:red;padding-right: 3px;cursor: none"></i></li>
                  <li class="lilist"><a class="aclassDis">May 2018 </a></li>
                  <li class="lilist"><a href="#" class="aclass">Apr 2018</a> <i class="fa fa-check-circle pull-right"
                      style="font-size:20px;color:green;padding-right: 3px;cursor: none"></i></li>
                  <li class="lilist"><a href="#" class="aclassRed">Mar 2018</a> <i class="fa fa-times-circle pull-right"
                      style="font-size:20px;color:red;padding-right: 3px;cursor: none"></i></li>
                  <li class="lilist"><a class="aclassDis">Feb 2018 </a></li>

                </ul>

              </div>
            </div>
          </div>
        </td>
        <td style="width: 100%;max-width: 400px;vertical-align: top">
          <div class="card" style="width:100%;box-shadow: 5px 5px 7px rgba(33,33,33,.7);margin-left: 10px;right: 0;min-height:165px;">
            <div _ngcontent-c4="" class="card-header" style="font-weight: 600;font-size: 17px;width: 100%;"> My Cards
            </div>
            <div class="card-body" style="width:100%;">
              <table style="width:100%;">
                <tbody style="width:100%;">
                  <tr style="width:100%;">
                    <td style="width:50%;">
                      <div style="border-right: rgba(33,33,33,.7) 1px solid;text-align: center;">
                        <div><img src="assets/img/Lik.png" alt="Logo" style="width:50px;height:50px;padding-right: 3px ;"></div>
                        <div class="text-value">89</div>
                      </div>
                    </td>
                    <td style="width:50%;">
                      <div style="text-align: center;">
                        <div><img src="assets/img/dislik.png" alt="Logo" style="width:50px;height:50px;padding-right: 3px ;"></div>
                        <div class="text-value">50</div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <div class="card" style="width:100%;box-shadow: 5px 5px 7px rgba(33,33,33,.7);margin-top: -10px;margin-left: 10px;max-height: 280px">
            <div _ngcontent-c4="" class="card-header" style="font-weight: 600;font-size: 17px;width: 100%;"> My Feed
              Forward
            </div>
            <div class="card-body form-group">

              <!--/.row-->

              <div style="max-height:200px; max-width: 50vw; margin-top:10px;float: left;margin-left: 0px !important;margin-right: 0px !important">
                <!-- <canvas baseChart class="chart" [datasets]="barChart1Data" [labels]="barChart1Labels" [options]="barChart1Options"
          [colors]="barChart1Colours" [legend]="barChart1Legend" [chartType]="barChart1Type"></canvas> -->

                <canvas baseChart class="chart" [datasets]="barChart1Data" [labels]="barChart1Labels" [options]="barChart1Options"
                  [colors]="barChart1Colours" [legend]="barChart1Legend" [chartType]="barChart1Type"></canvas>

              </div>
              <div style="max-height:200px; max-width: 33vw; min-width: 33vw;margin-top:10px;float: right;overflow: hidden;margin-right: -20px">
                <table class="m_-3611262513649077556MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="388"
                  style="width:100%;border-collapse:collapse">
                  <tbody>
                    <tr style="height:15.0pt">
                      <td colspan="2" valign="top" style="width:96.0pt;border:solid windowtext 1.0pt;border-right:solid black 1.0pt;background:#17375d;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt">
                        <p class="MsoNormal" align="center" style="text-align:center"><b><span style="color:white">Received<u></u><u></u></span></b></p>
                      </td>
                      <td colspan="2" valign="top" style="width:96.0pt;border-top:solid windowtext 1.0pt;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid black 1.0pt;background:#17375d;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt">
                        <p class="MsoNormal" align="center" style="text-align:center"><b><span style="color:white">Given
                              <u></u><u></u></span></b></p>
                      </td>
                      <td valign="top" style="width:99.0pt;border:solid windowtext 1.0pt;border-left:none;background:#17375d;padding:0cm 5.4pt 0cm 5.4pt;height:15.0pt">
                        <p class="MsoNormal"><b><span style="color:white">Pending to be given<u></u><u></u></span></b></p>
                      </td>
                    </tr>
                    <tr style="height:14.25pt">
                      <td valign="top" style="width:48.0pt;border:solid windowtext 1.0pt;border-top:none;background:#17375d;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
                        <p class="MsoNormal"><b><span style="color:white">Consider<u></u><u></u></span></b></p>
                      </td>
                      <td valign="top" style="width:48.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#17375d;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
                        <p class="MsoNormal"><b><span style="color:white">Continue<u></u><u></u></span></b></p>
                      </td>
                      <td valign="top" style="width:48.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#17375d;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
                        <p class="MsoNormal"><b><span style="color:white">Consider<u></u><u></u></span></b></p>
                      </td>
                      <td valign="top" style="width:48.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#17375d;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
                        <p class="MsoNormal"><b><span style="color:white">Continue<u></u><u></u></span></b></p>
                      </td>
                      <td valign="top" style="width:99.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#17375d;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
                        <p class="MsoNormal"><b><span style="color:white">&nbsp;<u></u><u></u></span></b></p>
                      </td>
                    </tr>
                    <tr style="height:14.25pt">
                      <td valign="top" style="width:48.0pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
                        <p class="MsoNormal" align="right" style="text-align:right"><span style="color:black">5<u></u><u></u></span></p>
                      </td>
                      <td valign="top" style="width:48.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
                        <p class="MsoNormal" align="right" style="text-align:right"><span style="color:black">7<u></u><u></u></span></p>
                      </td>
                      <td valign="top" style="width:48.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
                        <p class="MsoNormal" align="right" style="text-align:right"><span style="color:black">2<u></u><u></u></span></p>
                      </td>
                      <td valign="top" style="width:48.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
                        <p class="MsoNormal" align="right" style="text-align:right"><span style="color:black">1<u></u><u></u></span></p>
                      </td>
                      <td width="132" valign="top" style="width:99.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.25pt">
                        <p class="MsoNormal" align="right" style="text-align:right"><span style="color:black">2<u></u><u></u></span></p>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>

          </div>


        </td>
        <!-- </div> -->

      </tr>
    </tbody>
  </table>
</div>